<nav class="navbar navbar-inverse">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <!--logo links to the home page-->
      <a class="navbar-brand" routerLink = "/">Final Project</a>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <!--loop all pages-->
        <ng-container *ngFor = "let page of pages?.value">
          <!--check if it is not home page since i already link it to loggo-->
          <li *ngIf = "page.header!=='home'">
            <a  routerLink = "/{{page.header}}">{{page.title}}</a>
          </li>
         </ng-container>
      </ul>

      <!--I user is not logged in there are would be two links from the right side of nav bar -->
      <ul *ngIf = "!userLoggedIn" class="nav navbar-nav navbar-right">
        <li><a  routerLink = "/register">Register</a></li>
        <li><a  routerLink = "/login">Login</a></li>
      </ul>

       <!--I user is  logged in there are would be logout link  from the right side of nav bar -->
      <ul *ngIf = "userLoggedIn" class="nav navbar-nav navbar-right">
        <li><a  routerLink = "/logout"> logout {{user}}</a></li>

      </ul>

    </div>

  </div>
</nav>
